@import "tailwindcss";

@theme {
  --color-primary: #FFD700;
  --color-secondary: #1a1a1a;
  --color-dark: #000000;
  --color-light: #ffffff;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}